@import "tailwindcss";
@import "@fontsource/geist-sans";
@import "@fontsource/geist-mono";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Geist Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Geist Mono", "Courier New", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist Sans", Arial, Helvetica, sans-serif;
}
